<div class="container-fluid px-0">

    <nav class="navbar navbar-expand-xxl navbar-dark bg-dark py-1">
        <a class="navbar-brand font-italic" href="#">
          Pets 
          <img src="https://img.icons8.com/fluent/25/000000/pets.png"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenuItems" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navMenuItems">
            <div class="d-flex">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active" *ngIf="!isLogged">
                  <a class="nav-link" routerLink="/auth/login"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</a>
                </li>
  
                <li class="nav-item active" *ngIf="isLogged">
                  <a class="nav-link" (click)="logOut()" routerLink="/auth/login"><i class="fas fa-sign-in-alt"></i> Cerrar sesión</a>
                </li>
              </ul>
            </div>
          </div>
    </nav>
</div>
