
body {
    overflow: hidden;
}

.bg-dark {
    background-color: #16191c;
}

.bg-dark-x {
    background-color: #1e2126;
}

.form-control {
    background-color: #1e2126;
    border: 0;
}

.card {
    background-color: #16191c;
    max-height: 100%;
}

.hide {
    display: none;
}
