
body {
    overflow: hidden;
}

.bg-dark {
    background-color: #16191c;
}

.bg-dark-x {
    background-color: #1e2126;
}

.form-control {
    background-color: #1e2126;
    border: 0;
}

.card {
    background-color: #16191c;
    max-height: 100%;
}

.opacity {
    opacity: 0.5;
}

.hide {
    display: none;
}

.progress-bar {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
