<body class="bg-dark">

    <section>
      
      <div class="row g-0">
        
        <div class="col-lg-5 card card-body min-vh-100 justify-content-center">
         
          <div class="col-12 px-0 pb-sm-2 pb-lg-4">
            <h1 class="card-header font-weight-bold text-light bg-dark-x" style="text-align: center;">Mascota</h1>
          </div>
        
          <form>
            
              <div class="row">

                <div class="form-group col-sm-6 ">
                  <label for="chip" class="text-light">Chip<sup class="text-danger">*</sup></label>
                  <input type="text" class="form-control" id="id" [(ngModel)]="pet.id" [ngModelOptions]="{standalone: true}" aria-describedby="chipMessage" placeholder="Ingrese el chip.">
                  <small class="font-italic text-danger hide" id="id-alert">
                    Chip no valido.
                  </small>
                </div>

                <div class="form-group col-sm-6">
                  <label for="name" class="text-light">Nombre</label>
                  <input type="text" class="form-control" id="name" [(ngModel)]="pet.name" [ngModelOptions]="{standalone: true}" placeholder="Ingrese el nombre.">
                  <small class="font-italic text-danger hide" id="name-alert">
                    Nombre no valido.
                  </small>
                </div>

                

              </div>

              <div class="row">

                <div class="form-group col-sm-4">
                  <label for="sex" class="text-light">Sexo</label>
                  <select class="form-control" id="sex" [(ngModel)]="pet.sex" [ngModelOptions]="{standalone: true}">
                      <option>Macho</option>
                      <option>Hembra</option>
                  </select>
                </div>

                <div class="form-group col-sm-4">
                  <label for="colour" class="text-light">Color<sup class="text-danger">*</sup></label>
                  <input type="text" class="form-control" id="colour" [(ngModel)]="pet.colour" [ngModelOptions]="{standalone: true}" placeholder="Ingrese el color.">
                  <small class="font-italic text-danger hide" id="colour-alert">
                    Color no valido.
                  </small>
                </div>

                
                <div class="form-group col-sm-4">
                  <label for="kind" class="text-light">Especie</label>
                  <select class="form-control" id="kind" [(ngModel)]="pet.kind" [ngModelOptions]="{standalone: true}">
                      <option>Can</option>
                      <option>Felino</option>
                  </select>
                </div>

              </div>

              <div class="row">

                <div class="form-group col-sm-4">
                  <label for="size" class="text-light">Tamaño</label>
                  <select class="form-control" id="size" [(ngModel)]="pet.size" [ngModelOptions]="{standalone: true}">
                      <option selected>Pequeño</option>
                      <option>Mediano</option>
                      <option>Grande</option>
                  </select>
                </div>

                
                <div class="form-group col-sm-5">
                  <label for="codition" class="text-light">Estado</label>
                  <select class="form-control" id="condition" [(ngModel)]="pet.condition" [ngModelOptions]="{standalone: true}">
                      <option>En albergue</option>
                      <option>Eutanasiado</option>
                  </select>
                </div>

                <div class="form-group col-sm-3">
                  <label for="weight" class="text-light">Peso(Kg)</label>
                  <input type="number" class="form-control" id="weight" [(ngModel)]="pet.weight" [ngModelOptions]="{standalone: true}" placeholder="Ingrese el peso (Kg).">
                </div>

              </div>

              <div class="row">

                <div class="form-group col-sm-3">
                  <label for="age" class="text-light">Edad(meses)<sup class="text-danger">*</sup></label>
                  <input type="number" class="form-control" id="age" [(ngModel)]="pet.age" [ngModelOptions]="{standalone: true}" placeholder="Ingrese la edad (meses).">
                  <small class="font-italic text-danger hide" id="age-alert">
                    Edad no valida.
                  </small>
                </div>
                
              <div class="form-group col-sm-5">
                <label for="race" class="text-light">Raza</label>
                <input type="text" class="form-control" id="race" [(ngModel)]="pet.race" [ngModelOptions]="{standalone: true}" placeholder="Ingrese la raza.">
              </div>

                <div class="form-group col-sm-4">
                  <label for="personality" class="text-light">Personalidad</label>
                  <select class="form-control" id="personality" [(ngModel)]="pet.personality" [ngModelOptions]="{standalone: true}">
                      <option>Amigable</option>
                      <option>Agresivo</option>
                  </select>
              </div>

              
            </div>
                
              <div class="form-group">

               <div class="form-group">
                  <label for="particularSigns" class="text-light">Señas Particulares</label>
                  <textarea class="form-control" id="paticularSigns" [(ngModel)]="pet.particularSigns" [ngModelOptions]="{standalone: true}" rows="4"></textarea>
               </div>
              </div>


              <div class="d-flex justify-content-around pt-2">
                <button type="button" class="btn btn-outline-light flex-grow-1 mr-2" (click)="savePet()">Guardar y continuar</button>
                <button type="button" class="btn btn-outline-light flex-grow-1 ml-2">Cancelar</button>
              </div>
            </form>
          
          </div>

          
          
          <div class="col-lg-7 d-md-block m-auto">

            <app-carousel></app-carousel> 
           
          </div>
        
        </div>
      
      </section>
</body>